<nav class="nav-bar">
    <ul class="nav-bar-items">
      <li><a href="#" target="_blank"><span>Manobandhan</span></a></li>
    
      <li><a href="#" routerLink="/login"> <span>Login</span></a></li>
    </ul>
  </nav>
  <!-------------------------FAQ Starts------------------------------------------------>

<div class="grid_3">
    <div class="container">
     <div class="breadcrumb1">
       <ul>
         
          <li class="current-page"><h3>FAQ</h3></li>
       </ul>
     </div>
     <dl class="faq-list">
      <dt class="faq-list_h">
      <h4 class="marker">Q?</h4>
      <h4>Are all people allowed to become members?</h4>
      </dt>
      <dd>
      <h4 class="marker1">A.</h4>
      <p class="m_4">Manobandhan does not discriminate regarding caste, color, religion or in any way. We believe all people are the same and deserve the chance to enjoy the success of an arranged marriage through manobandhan.com.</p>
      </dd>
      <dt class="faq-list_h">
      <h4 class="marker">Q?</h4>
      <h4>Can I meet my life partner online?</h4>
      </dt>
      <dd>
      <h4 class="marker">A.</h4>
      <p class="m_4">Yes, you can find your life partner online. Thousands of people have so why not you? Online matchmaking is changing the way people look for marriage partners. Be part of the change.</p>
      </dd>
      <dt class="faq-list_h">
      <h4 class="marker">Q?</h4>
      <h4>What are the rights of Free members?</h4>
      </dt>
      <dd>
      <h4 class="marker">A.</h4>
      <p class="m_4">.They can register themselves free.
        Upload photos in the photo gallery maximum five pictures.
        They express interest for free.
        
        It should be noted Manobandhan will only approve members who have a well written and complete profile or there is a star member looking for someone similar.</p>
      </dd>
      <dt class="faq-list_h">
      <h4 class="marker">Q?</h4>
      <h4>How do I pay for my membership?</h4>
      </dt>
      <dd>
      <h4 class="marker">A.</h4>
      <p class="m_4">Payments to Premium memberships can be made by Visa, Master Card, Discover, American Express, Paypal and most ATM cards with the Visa or Mastercard logo.</p>
      </dd>
      <dt class="faq-list_h">
      <h4 class="marker">Q?</h4>
      <h4>How do I become a member?</h4>
      </dt>
      <dd>
      <h4 class="marker">A.</h4>
      <p class="m_4">Click the registration link and fill the form. After you click the submit button you will receive an email telling you how to proceed.</p>
      <dt class="faq-list_h">
      <h4 class="marker">Q?</h4>
      <h4>Do you provide marriage counseling services?</h4>
      </dt>
      <dd>
      <h4 class="marker">A.</h4>
      <p class="m_4">We do provide marriage counseling services to our single, divorced, widowed and separated members though articles written specifically to help members overcome hurdles towards finding their potential partners. Please visit blog.shadi.com to view various articles that may be helpful.
      </p>
      </dd>
      <dt class="faq-list_h">
      <h4 class="marker">Q?</h4>
      <h4>Do you provide dating services?</h4>
      </dt>
      <dd>
      <h4 class="marker">A.</h4>
      <p class="m_4 m_5">We provide dating services to people with the goal of marriage. Our dating services include providing matching profiles to members and allowing paying member to contact or be contacted by other members for the purpose of meeting (dating) to establish compatibility.</p>
      </dd>
     </dl>
    </div>
  </div>
  <!-------------------------FAQ ends------------------------------------------------>
  <!-- Site footer -->
 <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6" style="padding-left: 20px;">
          <h6>About </h6>
          <p class="text-justify">Manobandhan provides platform to a lot of Bride/Groom <br/>for finding perfect match. There are different sectors like Registration,<br/> Login, Search, etc. So the Bride/Groom can get their interest for find <br/>their partner. Bride/Groom can directly search Partner according <br/> to their required criteria. The Bride/Groom can use match By Email <br/>functionality so he/she can get directly E-mail alert for the match which <br/>fulfill their required criteria.</p>
        </div>

        <div class="col-xs-9 col-md-3" >
          <h6>Quick Links</h6>
          <ul class="footer-links">
          <li><a href="#" routerLink="/aboutus">About Us</a></li>
          <li><a href="#" routerLink="/services">Services</a></li>
          <li><a href="#" routerLink="/privacy">Privacy Policy</a></li>
          <li><a href="#" routerLink="/terms">Terms and Conditions</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Helps & Support</h6>
          <ul class="footer-links">
            <li><a href="#"routerLink="/contactus">Contact us</a></li>
    				<li><a href="#"routerLink="/feedback">Feedback</a></li>
            <li><a href="#"routerLink="/faq">FAQs</a></li>
            
          </ul>
        </div>
      </div>
      
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; All Rights Reserved by BVDU.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/?lang=en"><i class="fa fa-twitter"></i></a></li>
            <li><a class="youtube" href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>

  
